<h1 class="title" >Welcome to 8 Bit Hot Sauces</h1>
<div><%= render "shared/nav"%></div>

<h1>Like what we're doing?</h1>
<p>Cause we sure do! It's a labor of love sometimes but creating hot sauces that make people go WOW just makes our day. 
    If you'd like to help us out and support our future hot sauce shenanigans, feel free to leave a tip through Venmo at @8BitSauces. 
    We appreciate it more than you know!
</p>
